<div class="container">
  <h1>{{ post_ctrl.post.title }}</h1>
  <small>
    Created by
    <strong> {{ post_ctrl.post.user.username }}</strong>
    at {{ post_ctrl.post.created_at|date:'short' }}
  </small>
  <p>{{ post_ctrl.post.text }}</p>
</div>

<div class="container">
  <h2>Comments</h2>
  <ul>
    <li ng-repeat="comment in post_ctrl.post.comments">
      {{ comment.comment.text }}
      -- <strong>{{ comment.comment.user.username }}</strong>
      at {{ comment.comment.created_at|date:'short' }}
    </li>
  </ul>

  <p>Leave a comment:</p>
  <form ng-submit="post_ctrl.addComment()">
    <div class="form-group">
      <label>Text</label>
      <textarea class="form-control" ng-model="post_ctrl.comment"></textarea>
    </div>
    <input class="btn btn-info" type="submit" value="Comment">
  </form>
</div>
