.container
  %h1 {{ post_ctrl.post.title }}
  %small
    Created by
    %strong {{ post_ctrl.post.user.username }}
    at {{ post_ctrl.post.created_at|date:'short' }}
  %p {{ post_ctrl.post.text }}

.container
  %h2 Comments

  %ul
    %li{"ng-repeat" => "comment in post_ctrl.post.comments"}
      {{ comment.comment.text }} --
      %strong {{ comment.comment.user.username }}
      at {{ comment.comment.created_at|date:'short' }}

  %p Leave a comment:
  %form{"ng-submit" => "post_ctrl.addComment()"}
    .form-group
      %label Text
      %textarea.form-control(ng-model="post_ctrl.comment.text")
    %input.btn.btn-info{:type => "submit", :value => "Comment"}
