<div class="container">
    <h1>The Home View</h1>
    <ul>
        <li ng-repeat="thing in home_ctrl.things">{{ thing }}</li>
    </ul>
    <h4>Is Authenticated: {{ home_ctrl.logged_in() }}</h4>
</div>