<div class="container">
    <h1>The Post View</h1>

    <p class="text-danger" ng-hide="home_ctrl.logged_in()">You must be logged in to post</p>
    <form ng-if="home_ctrl.logged_in()" ng-submit="home_ctrl.addPost()">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" ng-model="home_ctrl.post.title"/>
        </div>
        <div class="form-group">
            <label>Text</label>
            <textarea class="form-control" ng-model="home_ctrl.post.text"></textarea>
        </div>
        <input class="btn btn-info" type="submit" value="Post"/>
    </form>


    <h2>Posts</h2>
    <div ng-repeat="post in home_ctrl.posts">
        <h4>{{ post.title }}</h4>
        <small>
            Created by <strong>{{ post.user.username }}</strong>
            at {{ post.created_at|date:'short' }}
        </small>
        <p>{{ post.text }}</p>
    </div>
</div>