%nav.navbar.navbar-default{:role => "navigation", "ng-controller" => "NavCtrl as nav"}
  .container
    .navbar-header
      %a.navbar-brand(ui-sref="home") My App!

    %ul.nav.navbar-nav
      %li(ui-sref-active="active")
        %a(ui-sref="home") Home
      %li
        %a(ui-sref="dashboard.one") Dashboard
      %li(ng-hide="nav.logged_in()")
        %a(ui-sref="register") Register
      %li(ng-hide="nav.logged_in()")
        %a(ui-sref="login") Login
      %li{"ng-show" => "nav.logged_in()", "ng-click" => "nav.logout()"}
        %a Logout

