<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">My App!</a>
    </div>

    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
      <li><a ui-sref="dashboard.one">Dashboard</a></li>
    </ul>

  </div>
</nav>